{% extends 'base.html.twig' %}

{% block title %}Post Lists{% endblock %}

{% block body %}
    {% for message in app.flashes('message') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}


    <div class="row">

    {% for post in posts %}

            <div>
                <div class="card" >
                    {% if post.imgUrl %}
                        <img class="card-img-top" src="{{ asset('uploads/posts/' ~ post.imgUrl) }}" alt="Card image cap">
                    {% else %}
                        <img class="card-img-top" src="{{ asset('uploads/posts/default_image.jpg') }}" alt="Default image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ loop.index }}</h5>
                        <p class="card-text">{{ post.title }}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

    {% endfor %}

    </div>


{% endblock %}
